.blurb {
    background-size: cover;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 5;
    justify-items: center;
}
.blurb h2 {
    grid-column: 0 / 3;
    text-align: center;
    margin: auto;
    padding: 50px;
    color: rgb(151, 122, 245);
    font-size: 28px;
    border: solid 2px #ffc655;
    border-style: solid solid solid none;
    border-radius: 0 10px 10px 0;
    left: 0;
    background-color: #0000003f;
}
.blurb p {
    background-color: #00000094;
    padding: 50px;
    color:#ffc655;
    font-size: 20px;
    grid-row-start: 2;
    grid-column: 2 / 5;
    right: 0;
    margin: auto;
    text-align: center;
    border: solid 2px rgb(151, 122, 245);
    border-style: solid none solid solid;
    border-radius: 10px 0 0 10px;
}
#start {
    grid-row: 4;
    grid-column: 2 / span 2;
    border-radius: 12px;
    height: 148px;
    width: 264px;
    color: #000000;
    margin-top: 60px;
    padding-top: 21px;
    text-align: center;
    font-size: 28px;
    background-image: url('../../assets/cassette.jpg');
    background-size: cover;
}
#start:hover {
    border:2px solid #ffc655;
    color: #4c228f;
}