.pattern {
    background-image:  url('../../../assets/noisy-texture.png'), linear-gradient(70deg, rgb(255, 255, 255), rgb(134, 134, 134));
    padding: 8px;
    margin-top: 16px;
    max-width: 90vw;
    border-radius: 8px;
}
.pattern-editor, .pattern-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
}
.name-input {
    font-size: 22px;
    text-align: center;
    background:none;
    border: none;
    width: 50%;
}
.pattern button {
    width: 36px;
    height: 34px;
    border: none;
    border-radius: 4px;
}
.delete-btn {
    background-color: rgb(126, 0, 0);
    color: white;
}
.pattern button:hover, .name-input:hover {
    border: solid grey 2px;
    border-radius: 4px;
}
.expanded {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.expanded div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 4px;
    flex-wrap: wrap;
}
.expanded button {
    width: 22px;
    height: 22px;
}
#reverse, #opposite {
    border-radius: 20px;
    align-items: center;
}
.solo-active {
    background: rgb(209, 209, 255);
    background-color: rgb(209, 209, 255);
}