.control-panel {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image:  url('../../../assets/noisy-texture.png'), linear-gradient(70deg, rgb(10, 10, 10), rgb(36, 36, 36));
}

.global-transport, .global-tempo-volume {
    display: flex;
    flex: 1;
}
/* .global-transport {
    justify-content: center;
} */
.panel-btn {
    padding: 0;
    font-size: 18px;
    border: none;
    color: #ffc655;
    background: none;
}
.panel-btn:hover {
    color: #ffe4ad;
}